asgiref==3.9.1
charset-normalizer==3.4.3
cssselect2==0.8.0
Django==5.2.5
django-classy-tags==4.1.0
django-cms==5.0.2
django-entangled==0.6.3
django-filer==3.3.1
django-formtools==2.5.1
django-fsm==2.8.2
django-parler==2.3
django-polymorphic==4.1.0
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangocms-alias==2.0.5
djangocms-attributes-field==4.1.1
djangocms-file==3.0.1
djangocms-frontend==2.2.0
djangocms-link==5.1.0
djangocms-text==0.9.3
djangocms-versioning==2.4.0
djangocms-video==3.1.0
easy-thumbnails==2.10.1
gunicorn==23.0.0
lxml==6.0.1
nh3==0.3.0
packaging==25.0
pillow==11.3.0
reportlab==4.4.3
setuptools==80.9.0
sqlparse==0.5.3
svglib==1.5.1
tinycss2==1.4.0
webencodings==0.5.1
